@import 'utilities/variables';

.input {
  outline: none;
  width: auto;
  height: fit-content;
  padding: 12px;
  background: $color-base-40;
  border: 1px solid $color-base-50;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: $color-base-80;

  &::placeholder {
    color: $color-base-70;
  }

  &:focus {
    border-color: $color-product-yellow-dark;
  }
}
