%counter {
  position: absolute;
  max-height: 18px;
  width: 18px;
  right: -6px;
  top: -6px;
  border-radius: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: $color-base-10;
  text-align: center;
  letter-spacing: -0.06em;
  padding: 2px 0;
}

.button-counter {
  &__hiden {
    display: none;
  }

  &__bg-color--black {
    @extend %counter;

    background-color: $color-base-80;
  }

  &__bg-color--gray {
    @extend %counter;

    background-color: $color-base-50;
  }

  &__bg-color--purple {
    @extend %counter;

    background-color: $color-product-purple;
  }

  &__bg-color--purple-dark {
    @extend %counter;

    background-color: $color-product-purple-dark;
  }

  &__bg-color--purple-light {
    @extend %counter;

    background-color: $color-product-purple-light;
  }

  &__bg-color--yellow {
    @extend %counter;

    background-color: $color-product-yellow;
  }

  &__bg-color--yellow-dark {
    @extend %counter;

    background-color: $color-product-yellow-dark;
  }

  &__bg-color--yellow-light {
    @extend %counter;

    background-color: $color-product-yellow-light;
  }
}
