@import 'utilities/variables';

.card {
  position: relative;
  background: #f3f2f2;
  border-radius: 6px 36px;
  padding: 20px 24px;
  display: grid;
  grid-template-rows: 60px auto 32px;
  align-items: center;
  grid-row-gap: 16px;
  row-gap: 16px;
  min-width: 256px;
  max-width: 300px;
  min-height: 310px;
  max-height: 100%;
  width: 100%;
  height: fit-content;

  &__product-image {
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }

  &__product {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 16px;
    justify-items: center;

    ul {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      flex-wrap: wrap;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 4px 8px;
        width: fit-content;
        background: #F1E9C9;
        border-radius: 100px;
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 130%;
        text-transform: uppercase;
        color: #C47F17;
      }
    }

    &-information {
      display: grid;
      grid-template-rows: auto auto;
      row-gap: 8px;

      h3 {
        margin: 0;
        padding: 0;
        font-family: $font-family-secondary;
        font-weight: 700;
        font-size: 2rem;
        line-height: 100%;
        color: #403937;
        text-align: center;
      }

      p {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 100%;
        color: #8D8686;
        text-align: center;
      }
    }
  }

  &__purchase-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--price{
      font-family: $font-family-secondary;
      font-size: 1.4rem;
      font-style: normal;

      strong {
        font-style: normal;
        font-size: 2rem;
        line-height: 100%;
        color: #574F4D;
      }
    }

    form {
      display: flex;
      gap: 8px;
    }
  }
}
