@import 'utilities/variables';

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 4px;
  background: $color-base-30;
  column-gap: 20px;

  &__product {
    display: grid;
    grid-template-areas:
      'title price'
      'actions .';
    grid-template-rows: auto auto;
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 8px;

    p {
      grid-area: title;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: $color-base-90;
    }

    strong {
      grid-area: price;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      display: flex;
      align-items: center;
      text-align: right;
      color: $color-base-80;
    }

    &--actions {
      grid-area: actions;
      display: grid;
      grid-template-columns: 72px min-content;
      column-gap: 8px;
    }
  }
}
