.shopping-cart {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 32px;
  padding-bottom: 92px;


  @include lg {
    grid-template-columns: auto 50%;
    align-items: unset;
    gap: 15px;
  }

  form {
    display: contents;
  }

  .topic {
    &__icon--yellow-dark {
      svg {
        color: $color-product-yellow-dark;
        fill: $color-product-yellow-dark;
      }
    }

    &__icon--purple {
      svg {
        color: $color-product-purple;
        fill: $color-product-purple;
      }
    }
  }
}

