.shopping-cart {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include lg {
    align-items: unset;
    flex-direction: row;
    gap: 15px;
  }

  form {
    display: contents;
  }

  .topic {
    &__icon--yellow-dark {
      svg {
        color: $color-product-yellow-dark;
        fill: $color-product-yellow-dark;
      }
    }

    &__icon--purple {
      svg {
        color: $color-product-purple;
        fill: $color-product-purple;
      }
    }
  }
}

