// root font-size
$root-font-size: 62.5%;

// font-family
$font-family-primary: var(--font-roboto);
$font-family-secondary: var(--font-baloo2);
$font-family-nosource: 'sans-serif';

// font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
